.sidebar {
  height: auto;
  min-height: calc(100vh - 118px);
}

.graph-area {
  border: solid 1px #ddd;
  border-radius: 10px;
}
.graph {
  width: 100%;
  height: 310px;
}

.card-blue {
  background-image: linear-gradient(to bottom right, #1C90F3, #0D5DE5);
  height: 100%;
}
.card-blue .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-records {
  max-width: 182px;
}

@media screen and(max-width: 767px) {
  .sidebar{
    height: auto;
    min-height: inherit;
  }
}
